[submodule "dwm"]
	path = dwm
	url = https://github.com/hedesandxlii/dwm.git
[submodule "submodules/helix"]
	path = submodules/helix
	url = https://github.com/helix-editor/helix
[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf.git
