# See also languages.toml
# theme = "my_emacs"
# theme = "nord"
# theme = "default"
theme = "catppuccin_latte"

[editor]
rulers = []
bufferline = "multiple"
color-modes = true
cursorline = false
gutters = ["diff"]

mouse = true
shell = ["bash", "-c"]
continue-comments = false

insert-final-newline = true
trim-final-newlines = true
trim-trailing-whitespace = true

[editor.statusline]
right = ["diagnostics", "selections", "register", "position"]

[editor.lsp]
display-inlay-hints = true
display-messages = true

[editor.cursor-shape]
insert = "bar"

[editor.indent-guides]
render = true
character = "│"
skip-levels = 1

[editor.whitespace.characters]
space = "·"
nbsp = "⍽"
newline = "⏎"
tab = "→"
tabpad = " " # Tabs will look like "→   " (depending on tab width)

[editor.soft-wrap]
enable = true

[editor.smart-tab]
enable = false

[keys.insert]
C-A-i = "completion"

[keys]
normal.C-r = ":reload-all"
normal.esc = ["collapse_selection", "keep_primary_selection"]

# boilerplate script
normal.space.space.B = ":pipe boiler %{buffer_name}"
normal.space.space.P = ":sh echo %{buffer_name} | xclip -selection clipboard"

# Toggles
normal.space.space.w = ":toggle-option whitespace.render all none"
normal.space.space.s = ":toggle-option soft-wrap.enable"
normal.space.space.h = ":toggle-option lsp.auto-signature-help"
normal.space.space.i = ":toggle-option lsp.display-inlay-hints"
normal.space.space.m = ":toggle-option mouse"

# tmux-pipe.sh
normal.space.space.e.s = ":pipe-to tmux-pipe.sh %{language} repl"
select.space.space.e.s = ":pipe-to tmux-pipe.sh %{language} repl"
normal.space.space.e.f = "@<C-s>mafx:pipe-to tmux-pipe.sh %{language} repl<ret><C-o>"
select.space.space.e.f = "@<C-s>mafx:pipe-to tmux-pipe.sh %{language} repl<ret><C-o>"

normal.space.space.C = ":pipe-to tmux-pipe.sh %{language} create"
select.space.space.C = ":pipe-to tmux-pipe.sh %{language} create"

# yank-join
normal.Y = ":yank-join"
select.Y = ":yank-join"

normal.space.Y = ":clipboard-yank-join"
select.space.Y = ":clipboard-yank-join"

# flip to not include word boundaries by default
normal."*" = "search_selection"
normal."A-*" = "search_selection_detect_word_boundaries"
select."*" = "search_selection"
select."A-*" = "search_selection_detect_word_boundaries"

# surround selection with print(f"{<sel>=}")
normal.space.space.p = "@a=<esc>ms}ms\"if<esc>vhms)iprint<esc>"
select.space.space.p = "@a=<esc>ms}ms\"if<esc>vhms)iprint<esc>"


[keys.normal.space.g] # "Git mode"
p = "changed_file_picker"  # remap the default space>g to space>g>p
b = ":sh git blame -L%{cursor_line},+1 %{buffer_name}"  # blame on current row
y = ":sh git blame -L%{cursor_line},+1 %{buffer_name} | cut -d ' ' -f 1 | xclip -selection clipboard && echo 'Blame SHA copied to clipboard'"  # yank blame sha1
r = ":reset-diff-change"
