# Upstream languages.toml:
# https://github.com/helix-editor/helix/blob/master/languages.toml

########################### language configurations ############################
[[language]]
name = "c"
file-types = ["c", "h"]
auto-format = true
indent = { tab-width = 4, unit = "\t" }

[[language]]
name = "python"
auto-format = true
language-servers = ["ruff", "pylsp"]
